@media screen and (min-width: 480px) {
    .container {
        max-width: 480px;
        padding: 0 16px;
        margin: 0 auto;
        outline: 1px solid red;
    }
    .header-container {
        /* display: none; */
    }
        

}