.header-container {
    /* display: flex; 
    align-items: center;
    justify-content: space-between; */
    
  }
  .nav-container {
    /* display: flex; 
    align-items: center;*/
  }
  .top-nav {
  /* display: flex;
    flex-direction: row;
    align-items: baseline;*/
  }
  .top-logo,
  .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.34;
  }
  .top-logo > .link {
    padding-top: 24px;
  }
  .logo-web {
    color: var(--primary);
    line-height: 1.34;
  }
  .top-menu {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* display: flex; */
    margin-left: 76px;
    gap: 40px;
    display: none;
  }
  .top-menu .link {
    padding-top: 24px;
    padding-bottom: 28px;
  
    transition: color var(--transition);
  }
  .top-menu .link:hover,
  .mail:hover, .tel:hover {
    color: var(--pressed-state);
  }
  .top-menu .link:focus,
  .mail:focus, tel:focus {
    color: var(--text);
  }
  .current {
    color: var(--pressed-state);
    position: relative;
  }
  .current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    background-color: var( --pressed-state);
  }
  .mail, .tel {
    letter-spacing: 0.02em;
    color: var(--text);
    font-style: normal;
    line-height: 1.5;
  
    transition: color var(--transition);
  }
  .top-contacts {
    /* display: flex;
    align-items: center; */
  }
  .address-item:not(:last-child) {
    margin-right: 40px;
  }
  